.heading{
    height: 100px;
    background-color: darkcyan;
  color: bisque;

  font-size: 50px;
  line-height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* chises of rock paper scissor */
.chois{
    display: flex;
    justify-content: center;
   gap: 80px;
   margin-top: 20px;
}
img{
    border-radius: 50%;
    border: none;
    border-collapse: collapse;
    object-fit: cover;
    transition: all .25s ease-in 0s;
}
img:hover{
transform: scale(1.07);
}
.score{
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-top: 3rem;
  font-size: 50px;
  height: 200px;
}
.comp{
  flex-direction: column;
}

.chose{
  background-color: darkcyan;
display: flex;
align-items: center;
border-radius: 11px;
justify-content: center;
color: white;
height: 60px;
width: 500px;
font-size: 30px;
}
.chose2{
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}